# Statistical

In [1]:
import pandas as pd
df=pd.read_excel(r"C:\Users\yvsur\Downloads\temperature.xlsx")
df

         date       city  temperature  humidity condition
0  2025-04-12  hyderabad           23        32     sunny
1  2025-04-13  hyderabad           43        55     sunny
2  2025-04-14  hyderabad           32        33     sunny
3  2025-04-15   banglore           54        97    cloudy
4  2025-04-16   banglore           12        47    cloudy
5  2025-04-17   banglore           65        49    cloudy
6  2025-04-18    chennai           56        61    cloudy
7  2025-04-19        kkd           45        82    cloudy
8  2025-04-20      vizag           87        83     sunny
9  2025-04-21      vizag           66        23    cloudy
10 2025-04-22  vijaywada           33        11     sunny
11 2025-04-23  vijaywada           22        76    cloudy

In [3]:
df.max()

date           2025-04-23 00:00:00
city                         vizag
temperature                     87
humidity                        97
condition                    sunny
dtype: object

In [4]:
df.min()

date           2025-04-12 00:00:00
city                      banglore
temperature                     12
humidity                        11
condition                   cloudy
dtype: object

In [5]:
df["temperature"].mean()

44.833333333333336

In [6]:
df["temperature"].mode()

0     12
1     22
2     23
3     32
4     33
5     43
6     45
7     54
8     56
9     65
10    66
11    87
Name: temperature, dtype: int64

In [7]:
df["temperature"].median()

44.0

In [10]:
df["temperature"].var()

475.060606060606

In [14]:
df["temperature"].std()

21.795885071742465

In [15]:
df["temperature"].cov(df["humidity"])

175.1969696969697

In [16]:
df["temperature"].corr(df["humidity"])

0.30153010739277003